<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Cajuí – Da  conservação do Cerrado à cena gastronômica da capital federal - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
  <link rel="stylesheet" href="/public/assets/css/paginas/pg-blog.css" type="text/css">
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Quero fazer um post!</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <a href="/"><img src="/public/imagens/favicon2.png" alt="Slowfu" /></a>
          </div>
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <li><a href="contato">Abra um Chamado</a></li>
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav nav-2">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <li><a href="contato">Abra um Chamado</a></li>
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
              <li class="item-menu-login"><a href="login">Quero fazer um post!</a></li>
             
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoinicioBlog">
      <div class="box-title-banner-home">
        <h1>Conteúdo Blog</h1>
        <p>Home > Blog > Conteúdo Blog</p>
      </div>
    </div>
    <div class="ajuste-home-blog">
      <div class="container">
        <div class="flex flex-invert">
          <div class="box-60">
            <div class="conteudo-blog-content">
              <h2>Cajuí – Da  conservação do Cerrado à cena gastronômica da capital federal <br><sub>12 de Agosto de 2022
                by <a href="https://slowfoodbrasil.org.br/autora/alexandra-duarte/" target="_blank">Alexandra Duarte</a>
                </sub></h2>
              <p>O cajuzinho do Cerrado é mais um exemplo de como o agroextrativismo é uma chave na conservação do cerrado. Para isso é preciso fortalecer a cultura alimentar como fundamento da gastronomia.</p>
             <p>O cajuí é do tamanho de um polegar e, quando maduro, de cor intensa e brilhante entre laranja e vermelho. As características sensoriais do cajuzinho do cerrado são muito apreciadas na gastronomia. Acidez e doçura equilibradas, combinadas a uma textura fibrosa e adstringente fazem dele um versátil ingrediente tanto para receitas salgadas, quanto doces.
            </p>
            </div>
          </div>
          <div class="box-40">
            <div class="box-img-conteudo-blog">
              <a href="https://slowfoodbrasil.org.br/2022/08/cajui-da-conservacao-do-cerrado-a-cena-gastronomica-da-capital-federal/" target="_blank">
                <img src="/public/imagens/Blog/cajui.jpg" alt="Imagem Conteúdo Blog" class="img-responsive">
              </a>
            </div>
          </div>          
        </div>
        <div class="flex">
          <div class="box-100 ">
            <div class="conteudo-blog-content">
              <p>Em 2017, por meio de atividades junto à comunidade do Slow Food Cerrado, Ana conheceu Dona Fióta e Seu Calisto moradores do Vão de Almas, comunidade localizada na cidade de Cavalcante na Chapada dos Veadeiros, em Goiás, que faz parte do quilombo Kalunga. A cultura dos povos Kalunga tem mais de 300 anos de história e é de uma profunda conexão com a terra, vivendo sobretudo do agroextrativismo numa área de proteção em que o Cerra Cerrado é consevado. Vão de Almas faz parte da Fortaleza do Gergelim Kalunga da rede Slow Food Brasil. A semente, cultivada na região desde a fundação do quilombo, é muito usada para controle de formigas nas lavouras de mandioca, além do uso culinário (óleo e sementes torradas). O gergelim pelo seu alto valor gastronômico tem ajudado na renda da comunidade. Além dele, são comercializados fora do estado a cúrcuma e a pimenta de macaco.

              </p>
              <p>O contato com essa comunidade transformou a forma de trabalhar da Ana. A mangaba e o cajuí também têm safras significativas nas comunidades Kalunga, porém são de difícil logística de comercialização. Percebendo esse gargalo, após o encontro com a comunidade, Ana passou a pensar nas receitas do restaurante como um projeto que incluía toda a safra do cajuí, uma vez que a comunidade não conseguia vender, nem escoar essa produção por conta própria. “Eu vi meu papel ali e me tornei um elo da cadeia de produção, de uma ponta à outra. Como Chef de cozinha e cozinheira ligava as pessoas às comunidades do Cerrado.”

              </p>
              <p>Com a pandemia em 2020 e o fechamento do restaurante da Ana, que passou a funcionar como buffet, foi preciso reinventar esse trabalho de apoio às comunidades que passou ao formato de grupo de compras. O esforço coletivo de cozinheiros e ativistas em Brasília que, como Ana Boquadi, trabalham com os frutos do cerrado e a divulgação da cultura alimentar da região acabou por popularizar os ingredientes e ajudou no escoamento dessas safras de frutos mais delicados que não tinham tanta demanda de mercado. Hoje, o cajuí protagoniza de pães a pratos principais nos restaurantes da capital federal.
              </p>
              <p>Foi nesse processo que surgiu a ideia de um festival dedicado ao cajuzinho do Cerrado em Brasília. Ana explica o projeto, já aprovado, mas ainda em desenvolvimento: “A gente vai realmente mapear os produtores agroextrativistas. E esse é um trabalho que eu acredito ser minha missão profissional. Nada melhor que um festival para oferecer capacitação para as pessoas em relação à produção e conservação, e à diversidade de usos na cozinha do cajuí. E um dos objetivos é dar visibilidade e protagonismo às comunidades, para a gente poder alavancar políticas públicas para extrativistas. Fico imaginando e sonhando! O Brasil precisa desse sonho, de ver essas comunidades bem. A gente precisa/depende delas para ter água boa, para ter ar bom. O mínimo que a gente faz é consumir esses produtos, contar essa história e valorizar essas comunidades.”</p>
              <p></p>
              <p><strong>Conteúdo disponível em:</strong> <a href="https://slowfoodbrasil.org.br/2022/08/cajui-da-conservacao-do-cerrado-a-cena-gastronomica-da-capital-federal/" target="_blank">https://slowfoodbrasil.org.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="/">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>