<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Comida, Comunidade e Regeneração - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
  <link rel="stylesheet" href="/public/assets/css/paginas/pg-blog.css" type="text/css">
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Quero fazer um post!</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <a href="/"><img src="/public/imagens/favicon2.png" alt="Slowfu" /></a>
          </div>
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav nav-2">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
              <li class="item-menu-login"><a href="login">Quero fazer um post!</a></li>
             
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoinicioBlog">
      <div class="box-title-banner-home">
        <h1>SlowFu</h1>
        <p>Home > Blog > Conteúdo Blog</p>
      </div>
    </div>
    <div class="ajuste-home-blog">
      <div class="container">
        <div class="flex flex-invert">
          <div class="box-60">
            <div class="conteudo-blog-content">
              <h2>Comida, Comunidade e Regeneração <br><sub>18 de julho de 2022
                by <a href="https://slowfoodbrasil.org.br/autora/alexandra-duarte/" target="_blank">Alexandra Duarte</a>
                </sub></h2>
              <p>Regeneração é o tema do Terra Madre – Salone del Gusto 2022, que tem como objetivo ressaltar o protagonismo da agricultura familiar camponesa, dos povos e comunidades tradicionais na produção de alimentos visando a segurança alimentar e nutricional e a busca por caminhos mais efetivos para agirmos diante das atuais crises sanitária e climática. 
              </p>
             <p>“Acho que uma nova gastronomia que se desenha, tem sim que se preocupar com o meio-ambiente, ela tem que se preocupar de onde vêm os alimentos, como isso impacta o meio ambiente e para onde vão os resíduos.” </p>
            </div>
          </div>
          <div class="box-40">
            <div class="box-img-conteudo-blog">
              <a href="https://slowfoodbrasil.org.br/2022/07/comida-comunidade-e-regeneracao/" target="_blank"><img src="/public/imagens/Blog/Mural-Terra.jpg" alt="Comida, Comunidade e Regeneração" class="img-responsive"></a>
            </div>
          </div>          
        </div>
        <div class="flex">
          <div class="box-100 ">
            <div class="conteudo-blog-content">
              <p>Assim, Luizi Viana, gastrônoma, merendeira e proprietária do Moronguetá Amazônico, defende o que acredita ser o futuro da gastronomia. Luizi será uma das representantes do Brasil na 14º edição do Terra Madre – Salone del Gusto, que acontece entre os dias 22 e 26 de setembro de 2022, em Torino.  
              </p>
              <p>A delegação do Brasil conta também com Bel Coelho, chef de cozinha e ativista socioambiental na luta por uma alimentação de qualidade, saudável e acessível para todos. Bel, que integra a rede de cozinheira/os do Slow Food Brasil, concorda que a forma como comemos tem grande impacto no agravamento da crise climática: “A gastronomia pode ter um papel importante nessa pauta justamente por ter grande visibilidade e se tratar de uma rede produtiva muito importante, a rede da produção de alimentos. Qualquer negócio hoje em dia deve ser pautado pela crise climática e relações sociais mais justas.” 
              </p>
              <p>O posicionamento por parte dos profissionais da área, em especial, os chefs é fundamental para fortalecer a pauta de uma gastronomia mais consciente e responsável. Socorro Almeia, chef de cozinha e integrante da rede de cozinheira/os do Slow Food Brasil também é parte da delegação que representa o Brasil na Itália. Ela nos lembra que defender uma causa é um lugar de luta e de muitos desafios: “O chef ou cozinheira/o ativista tem que ter é coragem para defender o território; a preservação de memórias; o resgate do cultivo de alimentos esquecidos por causa da forte inclusão dos industrializados; as lutas político-sociais como a do fortalecimento da agricultura familiar e o combate à insegurança alimentar, especialmente no país que mais mata ativistas no mundo”.  Para Luizi, o ativismo é a regra e como uma ecogastrônoma, ela reforça outro princípio básico da/o cozinheira/o ativista: “Valorizar a cultura dos povos e suas tradições e aproximar o cozinheiro do comensal.”Por fim, Bel Coelho resume que um chef ativista hoje deve: “Divulgar e alertar a sociedade da importância de se criar consciência das cadeias produtivas para que possamos fazer escolhas sócio-ambientalmente corretas e sustentáveis”. 
              </p>
              <p>O Terra Madre – Salone del Gusto volta ao formato presencial em 2022, depois de uma edição atípica em 2020, devido à pandemia da Covid-19.  Nesse ano, a expectativa é reunir ativistas, cozinheiros, gastrônomos, agricultores e produtores, pesquisadores e o público interessado do mundo inteiro para debater e construir coletivamente novas abordagens em relação aos sistemas de produção e consumo de alimentos. A pandemia revelou que as diversas crises que enfrentamos como sociedade tem origem  no sistema alimentar dominante que promove desigualdade social – o que só faz aumentar problemas como a fome – e o desperdício massivo de alimentos gerado pela forma como funciona a cadeia de distribuição e comercialização de alimentos, sobretudo, nas grandes cidades.
              </p>
              <p>Diante de tantos desafios e vivendo ainda um período de muita incerteza, o tema central desta 14ª edição do Terra Madre é a regeneração, como definida pelo físico e cientista ambiental, Fritjof Capra. Em entrevista concedida a Carlo Petrini, fundador do movimento Slow Food, Capra define o conceito: “A primeira característica é que ‘a vida se organiza’ através de redes cujas estruturas e processos não se impõem externamente, mas se auto geram. No centro disso está um processo de regeneração contínua que envolve todos os níveis: do molecular ao social, incluindo, é claro, nosso sistema alimentar. (…) regeneração não significa necessariamente retornar a um estado anterior. Pode significar criar algo novo, e esta é uma descoberta importante na teoria da complexidade. Todo sistema vivo tem pontos de instabilidade, dos quais uma nova ordem pode surgir espontaneamente.”
              </p>
              <p>A partir do tema central da 14ª edição do Terra Madre – Salone del Gusto é urgente por parte da gastronomia e todos os profissionais envolvidos com a alimentação pensar ações que em larga escala façam diferença e que sejam de fácil execução, como observa Socorro Almeida: “No momento em que estamos com mais de 33 milhões de pessoas em alto grau de insegurança alimentar no Brasil, não dá pra pensar em não aproveitamento total de alimentos e em cardápios que de fato respeitem a sazonalidade, isso é gastronomia contemporânea, é inovação. Fazer um excelente uso dos alimentos, dos ingredientes na sua época correta de colheita e deixando o mínimo possível de lixo, ou se possível, lixo zero, é se preocupar com o planeta, com as mudanças climáticas.” A fala de Socorro atenta para os dados do último relatório da Rede Brasileira de Pesquisa em Soberania e Segurança Alimentar (Rede PENSSAN) divulgado no início de junho de 2022 que trouxe uma atualização do cenário da fome no país. O relatório Olhe a Fome revela que, no fim de 2020, 19,1 milhões de brasileiros estavam em estado constante de fome e que em junho de 2022, o número subiu para 33,1 milhões. Nesse contexto, Socorro e outros ativistas e pesquisadores têm alertado sobre a urgência de atitudes que possam ser de fato eficazes e não apenas paliativas.
              </p>
              <p>A agenda dos dias de evento em Torino visa discutir desde as escolhas diárias dos indivíduos, passando pelo esforço coletivo das comunidades e sobretudo criando condições para pressionar governos e instituições públicas e privadas a tomarem atitudes concretas. Além das conferências, debates e palestras, a programação conta com três grandes espaços que percorrem os pilares do Chamado para Ação Coletiva – a Biodiversidade, a Educação e o Advocacy/Ativismo. Para além disso, o evento proporcionará experiências como as Oficinas do Gosto e as Oficinas Regenerativas. Já os estandes com comidas tradicionais fruto de um trabalho ancorado nas culturas alimentares compõem o lado celebrativo com a volta do evento presencial. O lado virtual do Terra Madre, que começou em 2020, continuará existindo em conferências e encontros com transmissão simultânea direto de Torino para aqueles que não puderem comparecer presencialmente. 
              </p>
              <p><strong>Conteúdo disponível em:</strong> <a href="https://slowfoodbrasil.org.br/2022/07/comida-comunidade-e-regeneracao/" target="_blank">https://slowfoodbrasil.org.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="/">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>