<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>FAQ - Policultura Familiar</title>
    <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
    <link rel="stylesheet" href="/public/assets/css/paginas/faq.css" />
  </head>

  <body>
    <header id="header" class="header">
      <div class="box-login-header">
        <ul>
          <li>
            <img src="/public/imagens/icons/user.png" alt="User" />
             <a href="login">Quero fazer um post!</a>
          </li>
           
        </ul>
      </div>
      <div class="firstMenu">
        <div class="flex-between-center firstMenu">
          <nav class="nav">
            <ul class="lista-menu">
              <li class="item-menu"><a href="/">Home</a></li>
              <li class="item-menu">
                <a href="quem-somos">Quem Somos</a>
              </li>
            </ul>
            <div id="logo" class="logo">
              <a href="/">
                <img src="/public/imagens/favicon2.png" alt="Slowfu" />
              </a>
            </div>
            <ul class="lista-menu">
              <li class="item-menu"><a href="blog">Blog</a></li>
              <li class="item-menu sub-menu-list">
                <a href="javascript:void(0)"
                  >Contato <i class="fa-solid fa-angle-right"></i
                ></a>
                <ul class="sub-menu">
                  <li><a href="contato">Abra um Chamado</a></li>
                  <li><a href="faq">FAQ</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="secondMenu">
        <div class="flex-between">
          <div id="logo" class="logo">
            <a href="/">
              <picture>
                <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
              </picture>
            </a>
          </div>
          <nav class="nav nav-2">
            <a href="javascript:void(0)" id="btn-mobile">
              Menu
              <span id="hamburguer"></span>
            </a>
            <ul class="lista-menu">
              <li class="item-menu"><a href="/"> Home</a></li>
              <li class="item-menu">
                <a href="quem-somos"> Quem Somos</a>
              </li>
              <li class="item-menu"><a href="blog"> Blog</a></li>
              <li class="item-menu sub-menu-list">
                <a href="javascript:void(0)"
                  >Contato <i class="fa-solid fa-angle-right"></i
                ></a>
                <ul class="sub-menu-second">
                  <li><a href="contato">Abra um Chamado</a></li>
                  <li><a href="faq">FAQ</a></li>
                </ul>
              </li>
            </ul>
            <ul class="menu-login">
              <li class="item-menu-login"> <a href="login">Quero fazer um post!</a></li>
               
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="fotoiniciofaq">
        <div class="box-title-banner-home">
          <h1>Dúvidas frequentes</h1>
          <p>Home > FAQ</p>
        </div>
      </div>
      <div class="container">
        <div class="duvidas-frequentes">
          <div class="box-border-top">
            <p class="clica-abrir">
              O que é o SlowFu?
            </p>
            <p class="panel">
              Slowfu é uma plataforma que conecta o pequeno produtor  com o chefe de restaurante e até com as pessoas que querem participar desse movimento "Slow Food". O movimento Slow Food tem como objetivo promover uma maior apreciação da comida, melhorar a qualidade das refeições e uma produção que valorize o produto, o produtor e o meio ambiente. Dessa forma, ao se cadastrar como fornecedor no SlowFu, você irá criar seu anúncio e terá oportunidade de ampliar suas vendas. Nós ajudamos você com isso!
            </p>
          </div>
  
  
          <div class="box-border-top">
            <p class="clica-abrir">
              Preciso me cadastrar?
            </p>
            <p class="panel">
              Para você, pequeno produtor, que deseja criar seu anúncio para atrair clientes para comprar seus produtos, é necessário realizar um breve cadastro. Em poucos passos, você se cadastra, anuncia seus produtos e amplia assim suas oportunidades de vendas. 

            </p>
          </div>
          <div class="box-border-top">
            <p class="clica-abrir">
              Como eu participo?
            </p>
            <p class="panel">
              Para participar você precisa ser um pequeno produtor. Assim, basta se cadastrar na nossa plataforma, criar seu anúncio e nós vamos conectar você com quem estiver procurando pelos seus produtos. Assim, você amplia suas oportunidades de vendas e as pessoas terão acessos a fornecedores para uma alimentação livre de produtos industrializados. 

            </p>
          </div>
          <div class="box-border-top">
            <p class="clica-abrir">
              Quem criou o Slow Food?
            </p>
            <p class="panel">
              O Slow Food é um movimento e uma organização não governamental fundados por Carlo Petrini em 1986, tendo como objetivo promover uma maior apreciação da comida, melhorar a qualidade das refeições e uma produção que valorize o produto, o produtor e o meio ambiente.
Carlo Petrini, Embaixador da boa vontade da FAO, é um jornalista italiano que fundou o movimento internacional Slow Food e foi uma das pessoas que encampou uma série de ações contra o fast-food, em especial contra o McDonald's quando este abriu uma lanchonete no centro histórico de Roma.

            </p>
          </div>
          <div class="box-border-top">
            <p class="clica-abrir">
              O SlowFu é seguro?
            </p>
            <p class="panel">
              É sim! Aqui, em poucos passos você se cadastra e disponibiliza seu anúncio para atrair seu público-alvo.

            </p>
          </div>
          <div class="box-border-top">
            <p class="clica-abrir">
              Não consigo me logar
            </p>
            <p class="panel">
              Para isto, basta abrir um chamado em nosso site e vamos ajudar você. Em "Menu", clique em "Contato" e em seguida "Abra um chamado". Agora basta preencher as informações e clicar em "Enviar". Em até 24h retornaremos para ajudar você. 

            </p>
          </div>
  
  
        </div>
      </div>
    </main>
    <footer>
      <section class="box-bg-footer">
        <div class="container">
          <div class="flex">
            <div class="box-25 box-mob-100 ">
              <div class="box-footer-itens">
                <div id="logo" class="logo">
                  <a href="/">
                    <picture>
                      <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                    </picture>
                  </a>
                </div>
                <p>
                  Projeto sendo desenvolvido por alunos da FECAP - Fundação
                  Escola de Comércio Álvares Penteado, da turma de Análise e
                  Desenvolvimento de Sistemas.
                </p>
              </div>
            </div>
            <div class="box-25 box-mob-100 ">
              <div class="box-footer-itens">
                <h5>Institucional</h5>
                <ul>
                  <li>
                    >
                    <a href="/" target="_blank">Home</a>
                  </li>
                  <li>
                    >
                    <a href="quem-somos" target="_blank">Quem Somos</a>
                  </li>
                  <li>
                    >
                    <a href="blog" target="_blank">Blog</a>
                  </li>
                  <li>
                    >
                    <a href="contato" target="_blank">Contato</a>
                  </li>
                  <li>
                    >
                    <a href="faq" target="_blank">Faq</a>
                  </li>
                  <li>
                    >
                    <a href="mapa-do-site" target="_blank">Mapa do Site</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="box-25 box-mob-100 ">
              <div class="box-footer-itens">
                <h5>Desenvolvedores</h5>
                <ul>
                  <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                  <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                  <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                  <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                  <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="/public/assets/js/script.js"></script>
  </body>
</html>
