<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Slowfu - Policultura Familiar</title>
    <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
    <link rel="stylesheet" href="/public/assets/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? família=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header" class="header">
        <div class="box-login-header">
            <ul>
                <li>
                    <img src="/public/imagens/icons/user.png" alt="User" />
                     <a href="login">Quero fazer um post!</a>
                </li>
                 
            </ul>
        </div>
        <div class="firstMenu">
            <div class="flex-between-center firstMenu">
                <nav class="nav">
                    <ul class="lista-menu">
                        <li class="item-menu"><a href="/">Home</a></li>
                        <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
                    </ul>
                    <div id="logo" class="logo">
                        <a href="/"> <img src="/public/imagens/favicon2.png" alt="Slowfu" /></a>
                    </div>
                    <ul class="lista-menu">
                        <li class="item-menu"><a href="blog">Blog</a></li>
                        <li class="item-menu sub-menu-list">
                            <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
                            <ul class="sub-menu">
                                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="secondMenu">
            <div class="flex-between">
                <div id="logo" class="logo">
                    <a href="/">
                        <picture>
                            <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
                        </picture>
                    </a>
                </div>
                <nav class="nav nav-2">
                    <a href="javascript:void(0)" id="btn-mobile">
                        Menu
                        <span id="hamburguer"></span>
                    </a>
                    <ul class="lista-menu">
                        <li class="item-menu"><a href="/"> Home</a></li>
                        <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
                        <li class="item-menu"><a href="blog"> Blog</a></li>
                        <li class="item-menu sub-menu-list">
                            <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
                            <ul class="sub-menu-second">
                                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu-login">
                        <li class="item-menu-login"> <a href="login">Quero fazer um post!</a></li>
                         
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <main>
        <div class="fotoinicioBlog">
            <div class="box-title-banner-home">
                <h1>Login / Cadastro</h1>
                <p>Home > Login | Cadastro </p>
            </div>
        </div>

        <div class="container">
            <div class="flex">
                <div class="box-50 box-mob-100">
                    <div class="formcontato">
                        <h2 id="login-tittle">LOGIN</h2>
                        <div class="linha"></div>
                        <form action="/loginEspecial" method="post">
                            <div class="form-container-input">
                                <label for="nome">E-mail</label>
                                <input class="form-input" placeholder="exemplo@gmail.com" type="email" required id="email_login" name="email">
                            </div>
                            <div class="form-container-input">
                                <label for="email">Senha</label>
                                <input class="form-input" placeholder="*********" type="password" required id="password_login" name="password">
                            </div>
                            <div class="button_contato">
                                <button class="form-input" type="submit">Entrar</button>
                            </div>
                            <!-- <a href="#" class="forget-pass">Esqueci minha senha</a> -->
                           <!-- 
                                <div class="login-social">
                                    <h4>Login com as redes sociais</h4>
                                    <div class="social">
                                        <button type="submit"><img id="form-btn-img" src="/public/imagens/google.png" alt="">
                                            continue with
                                            google </button>
                                        <button type="submit"><img id="form-btn-img" src="/public/imagens/facebook.png" alt="">
                                            continue with
                                            facebook </button>
                                    </div>
                                </div>
                            -->
                        </form>
                    </div>
                </div>
                <div class="box-50 box-mob-100">
                    <div class="formcontato" id="hr">
                        <h2>CADASTRO</h2>
                        <div class="linha second"></div>
                        <form action="/register" method="post">
                            <div class="form-container-input">
                                <label for="name">Nome</label>
                                <input class="form-input" placeholder="Seu Nome" type="name" required id="name_cadastro"
                                    name="name">
                            </div>
                            <div class="form-container-input">
                                <label for="email">E-mail</label>
                                <input class="form-input" placeholder="exemplo@gmail.com" type="email" required id="email_cadastro"
                                    name="email">
                            </div>
                            <div class="form-container-input">
                                <label for="telefone">Telefone</label>
                                <input class="form-input" placeholder="(99) 99999-9999" type="text" required id="tel-cadastro"
                                    name="telefone">
                            </div>
                            <div class="form-container-input">
                                <label for="password">Senha</label>
                                <input class="form-input" placeholder="*********" type="password" required id="senha_cadastro"
                                    name="password">
                            </div>
                            <!-- <div class="form-container-input">
                                <label for="email">Confirme senha</label>
                                <input class="form-input" placeholder="*********" type="password"  required id="conf_senha_cadastro"
                                    name="password">
                            </div> -->
                            <div class="button_contato">
                                <button class="form-input" id="yellow" type="submit">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </main>


    <!---Footer-->
    <footer>
        <section class="box-bg-footer">
            <div class="container">
                <div class="flex">
                    <div class="box-25 box-mob-100 ">
                        <div class="box-footer-itens">
                            <div id="logo" class="logo">
                                <a href="/">
                                    <picture>
                                        <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                                    </picture>
                                </a>
                            </div>
                            <p>
                                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                                Escola de Comércio Álvares Penteado, da turma de Análise e
                                Desenvolvimento de Sistemas.
                            </p>
                        </div>
                    </div>
                    <div class="box-25 box-mob-100 ">
                        <div class="box-footer-itens">
                            <h5>Institucional</h5>
                            <ul>
                                <li>
                                    >
                                    <a href="/" target="_blank">Home</a>
                                </li>
                                <li>
                                    >
                                    <a href="quem-somos" target="_blank">Quem Somos</a>
                                </li>
                                <li>
                                    >
                                    <a href="blog" target="_blank">Blog</a>
                                </li>
                                <li>
                                    >
                                    <a href="contato" target="_blank">Contato</a>
                                </li>
                                <li>
                                    >
                                    <a href="faq" target="_blank">Faq</a>
                                </li>
                                <li>
                                    >
                                    <a href="mapa-do-site" target="_blank">Mapa do Site</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-25 box-mob-100 ">
                        <div class="box-footer-itens">
                            <h5>Desenvolvedores</h5>
                            <ul>
                                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a>
                                </li>
                                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a>
                                </li>
                                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <script src="/public/assets/js/script.js"></script>
</body>

</html>