<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Slowfu - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
  <link rel="stylesheet" href="/public/assets/css/paginas/mapa-do-site.css">
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Quero fazer um post!</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <a href="/">
              <img src="/public/imagens/favicon2.png" alt="Slowfu" />
            </a>
          </div>  
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
            <li class="item-menu-login"> <a href="login">Quero fazer um post!</a></li>
             
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoiniciomapa">
      <div class="box-title-banner-home">
        <h1>Mapa do Site</h1>
        <p>footer > Mapa do Site</p>
      </div>
    </div>
    <div class="container">
      <div class="mapa-do-site">
        <a href="/">
          <h2>Home ></h2>
        </a>
        <a href="quem-somos">
          <h2>Quem somos ></h2>
        </a>
        <a href="blog">
          <h2>Blog ></h2>
        </a>
        <h2>Contato</h2>
        <a href="contato">
          <h3>- Abra Um Chamado ></h3>
        </a>
        <a href="faq">
          <h3>- FAQ ></h3>
        </a>
        <a href="item-menu-login">
          <h2>Cadastro ></h2>
        </a>
        <a href=""></a>
      </div>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="/">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>