<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>ÓSocioBio apresenta recomendações a presidenciáveis sobre economia sustentável - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
  <link rel="stylesheet" href="/public/assets/css/paginas/pg-blog.css" type="text/css">
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Quero fazer um post!</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <a href="/"><img src="/public/imagens/favicon2.png" alt="Slowfu" /></a>
          </div>
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav nav-2">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
              <li class="item-menu-login"><a href="login">Quero fazer um post!</a></li>
             
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoinicioBlog">
      <div class="box-title-banner-home">
        <h1>SlowFu</h1>
        <p>Home > Blog > Conteúdo Blog</p>
      </div>
    </div>
    <div class="ajuste-home-blog">
      <div class="container">
        <div class="flex flex-invert">
          <div class="box-60">
            <div class="conteudo-blog-content">
              <h2>ÓSocioBio apresenta recomendações a presidenciáveis sobre economia sustentável</h2>
              <p>Organizações socioambientalistas e movimentos sociais do campo, das florestas e das águas, reunidos no Observatório da Economia da Sociobiodiversidade (ÓSocioBio), em parceria com a Frente Parlamentar Ambientalista, apresentaram, no último dia 22 de junho em audiência da Comissão de Meio Ambiente do Senado, documento com recomendações ao próximo governo eleito.
              </p>
             
            </div>
          </div>
          <div class="box-40">
            <div class="box-img-conteudo-blog">
              <img src="/public/imagens/Blog/blog-4.jpg" alt="Imagem Conteúdo Blog" class="img-responsive">
            </div>
          </div>          
        </div>
        <div class="flex">
          <div class="box-100 ">
            <div class="conteudo-blog-content">
              <p>O objetivo do evento é fortalecer a economia da sociobiodiversidade e estabelecer o desenvolvimento sustentável como eixo do modelo de desenvolvimento brasileiro em alternativa aos modos de produção da monocultura nociva. A construção das recomendações se deu a partir de  diretrizes que prezam simultaneamente pela conservação dos ecossistemas, geração de renda, respeito aos modos de vida tradicionais, garantia de direitos territoriais e segurança alimentar das populações.

              </p>
              <p>As recomendações abordam a organização socioprodutiva e a gestão de empreendimentos; o fortalecimento da produção e beneficiamento; a comercialização e o acesso a mercados. O ÓSocioBio chama atenção para a importância da integração dos dados do Cadastro Ambiental Rural (CAR) no Sistema Nacional (SICAR), que não acontece atualmente e que ameaça territórios tradicionais. O coletivo ainda aponta a necessidade de assistência técnica e extensão rural às populações do campo, além do acesso a crédito diferenciado para povos, comunidades tradicionais e agricultores familiares. Incentivos fiscais, capacitação e pesquisas na área da economia da sociobiodiversidade são reivindicados.</p>
              <p>As organizações e movimentos sociais que compõem o observatório pedem políticas públicas que capacitem as lideranças locais, dêem apoio às comunidades para concorrência em editais de fomento, desburocratizem impostos, garantam participação social e o pagamento por serviços ambientais.
              </p>
              <p>“O que se viu no período recente foi exatamente o oposto. Não apenas cessaram as ações governamentais em prol do atendimento dessa demanda, como os conflitos territoriais se acentuaram demasiadamente. O desenvolvimento da economia da sociobiodiversidade depende crucialmente da garantia dos direitos territoriais dos povos indígenas, povos e comunidades tradicionais e agricultores familiares”, aponta o observatório.</p>
              <p>Estudos sobre a economia da sociobiodiversidade mostram que o mercado de produtos sustentáveis nativos é mais rentável do que o das commodities. Analisando apenas o cultivo do açaí, por exemplo, sua rentabilidade é estimada em aproximadamente US$ 1,5 mil por cada hectare manejado. Em comparação, a soja tem valor mais de sete vezes menor: US$ 200 por hectare. De acordo com resultados da Produção da Extração Vegetal e da Silvicultura (PEVS) divulgados pelo IBGE, só em 2020 o açaí movimentou R$ 694 milhões; a erva-mate, R$ 559 milhões; a castanha-do-pará, R$ 98 milhões; e o pequi, R$ 45 milhões.
                Não é novidade na ciência o potencial econômico do meio ambiente conservado.
                </p>
              <p>O aproveitamento racional e sustentável da Amazônia, do Cerrado e dos demais biomas brasileiros vale, em sua totalidade, centenas de bilhões de dólares. Os números ainda são subquantificados, já que as cadeias da sociobiodiversidade são, na maioria das vezes, informais e não entram na conta oficial. O investimento em pesquisa, nesse sentido, recomendado aos presidenciáveis pelo ÓSocioBio, é necessário para que o país tenha concretude sobre os valores da sua própria diversidade natural.</p>
              <p>O Observatório da Economia da Sociobiodiversidade reúne ONGs ambientalistas, movimentos sociais do campo e populações indígenas e tradicionais no Brasil, como ISA, ISPN, WWF-Brasil, Contag, CNS, Memorial Chico Mendes, Articulação Pacari, Associação Slow Food do Brasil e outras (veja lista completa na carta de criação). Lançada no último 1º de junho, a iniciativa ancora-se sobre um tripé que alia Economia, Pessoas e Biodiversidade. O objetivo é influenciar projetos no Congresso Nacional e no Poder Executivo para garantir a sustentabilidade no desenvolvimento econômico e social brasileiro, com valorização dos povos e comunidades tradicionais.</p>
              <p><strong>Conteúdo disponível em:</strong> <a href="https://slowfoodbrasil.org.br/2022/07/osociobio-apresenta-recomendacoes-a-presidenciaveis-sobre-economia-sustentavel/" target="_blank">https://slowfoodbrasil.org.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="/">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>