<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Quem Somos - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
  <link rel="stylesheet" href="/public/assets/css/paginas/quem-somos.css" type="text/css">
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Quero fazer um post!</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <a href="/">
              <img src="/public/imagens/favicon2.png" alt="Slowfu" />
            </a>
          </div>
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav nav-2">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <!-- <li><a href="contato">Abra um Chamado</a></li> -->
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
            <li class="item-menu-login"> <a href="login">Quero fazer um post!</a></li>
             
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoinicioBlog">
      <div class="box-title-banner-home">
        <h1>Quem Somos</h1>
        <p>Home > Quem Somos</p>
      </div>
    </div>
    <div class="box-bg-quem-somos">
      <div class="container">
        <div class="flex">
          <div class="box-50 box-mob-100">
            <div class="box-imgleft-quem-somos">
              <img src="/public/imagens/quem-somos/2.1.jpg" alt="Equipe Slowfu" class="img-responsive">
            </div>
          </div>
          <div class="box-50 box-mob-100">
            <div class="box-conteudo-quem-somos-right text-left">
              <h2>Sobre Nós</h2>
              <p>Somos alunos da Fecap - Fundação Escola de Comércio Álvares Penteado, do curso de Análise e Desenvolvimento de Sistemas. Nós somos apaixonados por tecnologia e, com essa paixão, nossa energia para buscar as melhores soluções parece infinita. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-bg-quem-somos-desk">
      <div class="container">
        <div class="flex">
          <div class="box-50 box-mob-100">
            <div style="    height: 280px;
            overflow-y: auto;
            padding-right: 14px;" class="box-conteudo-quem-somos-left text-right">
              <h2>Por que escolhemos o tema Slow Food?</h2>
              <p>O movimento Slow Food foi criado pensando em desenvolver um maior cuidado com aquilo que se come, e diminuir o consumo de produtos industrializados. Hoje com o crescimento do movimento Slow Food vem criando a necessidade do contato entre o pequeno produtor e o chefe de restaurante.</p>
                <p>Por isto, pensamos em criar o SlowFu, para ser uma plataforma que serve de ponte entre os dois, ajudando assim o pequeno produtor a vender seus alimentos sem um “atravessador”, a indústria alimentícia e o restaurante a comprar mais barato e direto do produtor.</p>
                <p>Apoie os ideais do Slow Food.</p>
                <p>Nos ajude a promover de forma independente o alimento bom, limpo e justo para todos.</p>
            </div>
          </div>
          <div class="box-50 box-mob-100">
            <div class="box-imgright-quem-somos">
              <img src="/public/imagens/quem-somos/img-2.jpg" alt="Equipe Slowfu" class="img-responsive">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="box-bg-quem-somos-mob">
      <div class="container">
        <div class="flex">
          <div class="box-50 box-mob-100">
            <div class="box-imgleft-quem-somos">
              <img src="/public/imagens/quem-somos/img-2.jpg" alt="Equipe Slowfu" class="img-responsive">
            </div>
          </div>
          <div class="box-50 box-mob-100">
            <div class="box-conteudo-quem-somos-right text-left">
              <h2>Por que escolhemos o tema Slow Food?</h2>
              <p>O movimento Slow Food foi criado pensando em desenvolver um maior cuidado com aquilo que se come, e diminuir o consumo de produtos industrializados. Hoje com o crescimento do movimento Slow Food vem criando a necessidade do contato entre o pequeno produtor e o chefe de restaurante.</p>
                <p>Por isto, pensamos em criar o SlowFu, para ser uma plataforma que serve de ponte entre os dois, ajudando assim o pequeno produtor a vender seus alimentos sem um “atravessador”, a indústria alimentícia e o restaurante a comprar mais barato e direto do produtor.</p>
                <p>Apoie os ideais do Slow Food.</p>
                <p>Nos ajude a promover de forma independente o alimento bom, limpo e justo para todos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="/">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>