<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="name">
        <label>Nome</label>
        <br><br>
        <input type="email" name="email">
        <label>Email</label>
        <br><br>
        <input type="password" name="password">
        <label>Password</label>
        <br><br>
        <button type="submit">Cadastre-se</button>
        <p>Já possui conta? <a href="/login">Faça o Login</a></p>
    </form>
</body>
</html>