<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Slow Food Indica - Policultura Familiar</title>
  <link rel="shortcut icon" href="/public/imagens/favicon4.png" type="image/x-icon" />
  <link rel="stylesheet" href="/public/assets/css/paginas/pg-blog.css" type="text/css">
</head>

<body>
  <header id="header" class="header">
    <div class="box-login-header">
      <ul>
        <li>
          <img src="/public/imagens/icons/user.png" alt="User" />
           <a href="login">Quero fazer um post!</a>
        </li>
         
      </ul>
    </div>
    <div class="firstMenu">
      <div class="flex-between-center firstMenu">
        <nav class="nav">
          <ul class="lista-menu">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="quem-somos">Quem Somos</a></li>
          </ul>
          <div id="logo" class="logo">
            <a href="/"><img src="/public/imagens/favicon2.png" alt="Slowfu" /></a>
          </div>
          <ul class="lista-menu">
            <li class="item-menu"><a href="blog">Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu">
                <li><a href="contato">Abra um Chamado</a></li>
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="secondMenu">
      <div class="flex-between">
        <div id="logo" class="logo">
          <a href="/">
            <picture>
              <img src="/public/imagens/Logo SlowFu V13.png" alt="Slowfu" />
            </picture>
          </a>
        </div>
        <nav class="nav nav-2">
          <a href="javascript:void(0)" id="btn-mobile">
            Menu
            <span id="hamburguer"></span>
          </a>
          <ul class="lista-menu">
            <li class="item-menu"><a href="/"> Home</a></li>
            <li class="item-menu"><a href="quem-somos"> Quem Somos</a></li>
            <li class="item-menu"><a href="blog"> Blog</a></li>
            <li class="item-menu sub-menu-list">
              <a href="javascript:void(0)">Contato <i class="fa-solid fa-angle-right"></i></a>
              <ul class="sub-menu-second">
                <li><a href="contato">Abra um Chamado</a></li>
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu-login">
              <li class="item-menu-login"><a href="login">Quero fazer um post!</a></li>
             
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="fotoinicioBlog">
      <div class="box-title-banner-home">
        <h1>SlowFu</h1>
        <p>Home > Blog > Conteúdo Blog</p>
      </div>
    </div>
    <div class="ajuste-home-blog">
      <div class="container">
        <div class="flex flex-invert">
          <div class="box-60">
            <div class="conteudo-blog-content">
              <h2>Slow Food Indica <br><sub>16 de julho de 2022
                by <a href="https://slowfoodbrasil.org.br/autora/nane-sampaio-2/" target="_blank">Nane Sampaio</a>
                </sub></h2>
              <p>Visibilidade e acesso a mercados mais competitivos para alimentos bons, limpos e justos
                Mais um passo está sendo dado para qualificar a participação da agricultura familiar baiana em cenários de grande concorrência comercial. O acordo de cooperação técnica firmado entre o Governo da Bahia, o Slow Food Internacional e a Associação Slow Food do Brasil prevê a execução de um projeto dedicado à valorização dos produtos da agrobiodiversidade oriundos de organizações produtivas, com foco na aproximação de consumidores e na expansão da oferta na capital do estado.
                </p>
             
            </div>
          </div>
          <div class="box-40">
            <div class="box-img-conteudo-blog">
              <a href="https://slowfoodbrasil.org.br/2022/07/slow-food-indica/" target="_blank">
                <img src="/public/imagens/Blog/Slow-Food-Indica.jpg" alt="Imagem Conteúdo Blog" class="img-responsive">
              </a>
            </div>
          </div>          
        </div>
        <div class="flex">
          <div class="box-100 ">
            <div class="conteudo-blog-content">
              <p>O aumento da procura por uma alimentação saudável, livre de transgênicos e agrotóxicos, e consumidores despertando cada vez mais quanto aos impactos ambientais e sociais de suas escolhas, revela uma abertura no mercado soteropolitano para criar condições sustentáveis de relacionamento entre campo e cidade. Uma oportunidade, pela perspectiva do Slow Food Indica, de destacar aqueles produtos autênticos das cooperativas e associações do território, que possuem, além das qualidades organolépticas e nutricionais naturais preservadas, valores intrínsecos por fomentar práticas e saberes tradicionais das famílias trabalhadoras e guardiãs da biodiversidade da Bahia. 
              </p>
              <p>Com a intenção de  reduzir as distâncias geográficas até o consumidor final e cultivar na cidade experiências de consumo consciente, serão construídas Etiquetas Narrativas para apresentar a realidade da produção, como técnicas de cultivo, criação e processamento, além de expressar sobre os contextos culturais e identitários. Uma ferramenta informativa, que atua diretamente na relação entre quem produz e quem consome, contando uma história viva, que agrega valor de verdade ao produto e dá ainda mais gosto e prazer na hora de comprar.
              </p>
              <p><strong>Conteúdo disponível em:</strong> <a href="https://slowfoodbrasil.org.br/2022/07/slow-food-indica/" target="_blank">https://slowfoodbrasil.org.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section class="box-bg-footer">
      <div class="container">
        <div class="flex">
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <div id="logo" class="logo">
                <a href="/">
                  <picture>
                    <img src="/public/imagens/Logo SlowFu_V6.png" alt="Slowfu" />
                  </picture>
                </a>
              </div>
              <p>
                Projeto sendo desenvolvido por alunos da FECAP - Fundação
                Escola de Comércio Álvares Penteado, da turma de Análise e
                Desenvolvimento de Sistemas.
              </p>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Institucional</h5>
              <ul>
                <li>
                  >
                  <a href="/" >Home</a>
                </li>
                <li>
                  >
                  <a href="quem-somos">Quem Somos</a>
                </li>
                <li>
                  >
                  <a href="blog" >Blog</a>
                </li>
                <li>
                  >
                  <a href="contato" >Contato</a>
                </li>
                <li>
                  >
                  <a href="faq" >Faq</a>
                </li>
                <li>
                  >
                  <a href="mapa-do-site">Mapa do Site</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-25 box-mob-100 ">
            <div class="box-footer-itens">
              <h5>Desenvolvedores</h5>
              <ul>
                <li>> <a href="https://github.com/brnalbuquerque" target="_blank">Bruna Albuquerque</a></li>
                <li>> <a href="https://github.com/caiquedmatos" target="_blank">Caique Matos</a></li>
                <li>> <a href="https://github.com/mariazinhafefe" target="_blank">Maria Fernanda</a></li>
                <li>> <a href="https://github.com/pedrorodante" target="_blank">Pedro Rodante</a></li>
                <li>><a href="https://github.com/pzpvip" target="_blank"> Pedro Piolli</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="/public/assets/js/script.js"></script>
</body>

</html>