.fotoinicioBlog {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/public/imagens/Banner/banner-vermelho.jpg);
    background-position: center;
    height: 60vh;
    width: 100%;
    margin-top: 0px;
    filter: drop-shadow(2px 2px 20px #333333);
}

.box-title-banner-home h1 {
    filter: drop-shadow(2px 2px 10px #333333);
}

.box-title-banner-home p {
    font-size: 16px;
}